@model IEnumerable<AsiakasApp.Models.Asiakas>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nimi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Osoite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Postinro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Postitmp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Luontipvm)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Asiakastyyppi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osoite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postinro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postitmp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luontipvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asiakastyyppi.AsiakastyyppiID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Avain">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Avain">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Avain">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
